/* .smallPlayer {
  display: flex;
  align-items: center;
  position: relative;
}
.smallPlayer__playPause {
  background-color: #2057a0;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  outline: none;
  font-size: 14px;
  position: relative;
  margin-right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallPlayer__toggle {
  height: 24px;
  width: 37px;
  background-color: #cfe4ff;
  border-radius: 0 15px 15px 0;
  border: 0;
  outline: none;
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
}
.smallPlayer__tooltip {
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: #cfe3ff;
  top: calc(100% + 12px);
  font-size: 10px;
  border-radius: 6px;
  display: none;
}
@media (max-width: 768px) {
  .rpp-player {
    position: absolute !important;
    left: 0;
    top: 100%;
    width: 100%;
    border-radius: 0 0 6px 6px;
    height: auto;
    overflow: visible;
    z-index: -1;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.2s ease;
  }
}
.rpp-player .rpp-inner-player {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
@media (max-width: 768px) {
  .rpp-player .info-player {
    width: calc(100% - 55px);
    flex: auto;
  }
}

@media (max-width: 768px) {
  .rpp-player .info-player {
    width: 100%;
    order: 1;
    flex: auto;
  }
}
.rpp-player .info-player {
  display: flex;
  gap: 10px;
  position: relative;
  flex: 1;
}
.rpp-player .content-cover-audio {
  flex: none;
}
.rpp-player a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .rpp-player .cover-audio {
    width: 90px;
    height: 90px;
  }
}
.rpp-player .small-title-audio {
  font-size: 11px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.rpp-player:not(.ca-started) .small-title-audio__inlive {
  display: none;
}
.rpp-player img {
  vertical-align: middle;
}
.align-center {
  align-items: center;
}

.row,
.flex {
  display: flex;
}
.gap-5,
.g-5 {
  gap: 5px !important;
}
@media (max-width: 768px) {
  .rpp-player .title-audio {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .rpp-player .title-audio {
    -webkit-line-clamp: 2;
  }
}
.rpp-player .title-audio {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
}
.rpp-player a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .rpp-player .content-circle-play {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
    gap: 18px;
  }
}
.rpp-player .seek-button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .rpp-player .circle-play {
    width: 62px;
    height: 62px;
  }
}
.rpp-player .seek-button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  display: none;
  cursor: pointer;
}

.rpp-player .seek-button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .rpp-player .toogle-player {
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
    width: 60px;
    height: 18px;
    width: 60px;
    border-radius: 3px 3px 0 0;
  }
}
.rpp-player .toogle-player {
  background: rgba(18, 46, 82, 0.5);
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .rpp-player .arrow-down {
    transform: rotate(180deg);
  }
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .rpp-player .status-bar {
    display: flex;
  }
}

@media (max-width: 768px) {
  .rpp-player .status-bar {
    order: 2;
    flex-direction: column;
    display: flex;
  }
}
.rpp-player .status-bar {
  flex: 1;
  gap: 10px;
  display: none;
}
.rpp-player .progress-bar-area {
  width: 100%;
  display: flex;
  align-items: center;
}
.rpp-player.live .progress-bar-total {
  display: none;
}

.rpp-player .progress-bar-total {
  background: #1a4680;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.rpp-player .progress-bar-total .progress-bar-move {
  background: #ffe000;
  height: 6px;
  width: 0;
}
.rpp-player .progress-bar-radio-total {
  background: #1a4680;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}
.rpp-player .progress-bar-radio-total .progress-bar-radio-move {
  background: #549dfd;
  height: 6px;
  width: 0;
  transition: width 0.2s ease;
}
@media (max-width: 768px) {
  .rpp-player .time-display {
    justify-content: space-between;
    display: flex;
    width: auto;
  }
}
.rpp-player .time-display {
  white-space: nowrap;
  font-size: 11px;
  width: 67px;
  text-align: right;
  flex: none;
}
.rpp-player .time-display {
  white-space: nowrap;
  font-size: 11px;
  width: 67px;
  text-align: right;
  flex: none;
}
@media (max-width: 768px) {
  .rpp-player .separator-time {
    display: none;
  }
}
@media (max-width: 768px) {
  .rpp-player .player-accordion {
    display: block;
  }
}

.rpp-player .player-accordion {
  background: #1a4b8b;
  padding: 0 20px 20px;
  display: none;
}
.rpp-player .player-accordion .item-accordion {
  border-bottom: 2px solid #315d96;
}
.rpp-player .player-accordion .item-accordion-header {
  color: #fff;
  height: 55px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}
.rpp-player .player-accordion .title-header-accordion {
  display: flex;
  align-items: center;
  gap: 6px;
}
.rpp-player .player-accordion .accordion-collapsable {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.15s ease-out;
  margin-right: -4px;
}
.rpp-player .player-accordion .inner-collapsable {
  padding-bottom: 10px;
  gap: 10px;
  flex-direction: column;
  display: flex;
  max-height: 167px;
  overflow: auto;
  padding-right: 4px;
}
.rpp-player .item-stations {
  padding: 10px;
  background-color: #2d69b9;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  font-size: 12px;
}
.rpp-player .item-stations .cont-station {
  display: flex;
  gap: 10px;
}
.faux-audio.loading:not(.button) {
  font-size: 24px;
}

.rpp-player .play-icon {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  color: #2057a0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex: none;
}
.faux-audio.loading:not(.button) .icon-media {
  background-size: 100%;
}
.faux-audio.loading .icon-media {
  background-image: url(../img/circular_spinner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 77%;
} */
